<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://creators.llc/druidhub">
    <meta property="og:title" content="Youtube">
    <meta property="og:image" content="https://creators.llc/lorealbeautycreators/assets/compartilhar.png">
    <meta property="og:description" content="Inscreva-se a faça parte desta comunidade">
    <meta property="og:type" content="website">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://creators.llc/favicon.png">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <title>Youtube</title>
</head>

<body>
    <div id="app">
        <div class="bg-youtube">
            <header>
                <nav class="navbar navbar-expand-lg menu">
                    <div class="container d-flex justify-content-between">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse mt-3" id="navbarMenu">
                            <ul class="navbar-nav w-100 d-flex justify-content-between flex-nowrap align-items-center">
                                <li><a class="navbar-brand" href="https://creators.llc/" target="_blank">
                                        <img class="logo" src="./assets/main/youTube+creator-logo.png"
                                            alt="creators logo">
                                    </a></li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#como-funciona">Como Funciona?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#participar">Como participar?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#embaixadores">Embaixadores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#premiacao">Premiação</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#faq">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModalToggle">QUERO PARTICIPAR</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel"><img
                                        src="assets/blacklogo.png" alt="creators_logo"></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div v-if="isLoading" class="text-center">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Carregando...</span>
                                    </div>
                                    <p class="mt-2">Aguarde enquanto processamos sua inscrição...</p>
                                </div>
                                <div v-if="error" class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                                <div v-if="success" class="alert alert-success" role="alert">
                                    {{ success }}
                                </div>
                                <form v-else>
                                    <p v-if="showAllFields"><strong>Inscreva-se a faça parte desta
                                            comunidade</strong></p>
                                    <div class="form-floating mb-2">
                                        <input type="email" class="form-control" id="floatingInput"
                                            placeholder="name@example.com" v-model="formData.email">
                                        <label for="floatingInput">E-mail</label>
                                    </div>

                                    <div class="form-floating mb-2">
                                        <input type="password" class="form-control" id="floatingPassword"
                                            placeholder="Password" v-model="formData.password"
                                            @input="checkPasswordStrength">
                                        <label for="floatingPassword">Senha</label>
                                        <div v-if="passwordStrength && showAllFields"
                                            :class="{'text-success': passwordStrength === 'Forte', 'text-warning': passwordStrength === 'Média', 'text-danger': passwordStrength === 'Fraca'}">
                                            <span class="tooltip-trigger" @mouseenter="showTooltip"
                                                @mouseleave="hideTooltip">Senha {{
                                                passwordStrength }}</span>
                                            <div v-show="showingTooltip" class="tooltip-content">
                                                Para que a senha seja forte, é preciso ter letra maiúscula,
                                                caractere especial e números!
                                            </div>
                                        </div>
                                    </div>

                                    <div v-if="showAllFields">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="floatingName"
                                                placeholder="Nome" v-model="formData.name">
                                            <label for="floatingName">Nome</label>
                                        </div>
                                        <div class="form-floating mb-2">
                                            <input type="tel" class="form-control" id="floatingPhone"
                                                v-model="formData.phone" @input="formatTelefone" value="Telefone">
                                            <label for="floatingPhone">Telefone com DDD (xx)xxxxx-xxxx</label>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer" v-if="!success">
                                <div>
                                    <button v-if="showAllFields" class="btn btn-primary me-2"
                                        @click="toggleFieldsVisibility">Já faço parte da
                                        Creators.llc</button>
                                    <button v-else-if="!showAllFields" class="btn btn-terciary me-2"
                                        @click="toggleFieldsVisibility">Voltar</button>
                                    <button v-if="!showAllFields" class="btn btn-terciary me-2"
                                        @click="formForgot">Esqueci a senha</button>
                                </div>
                                <div>
                                    <button
                                        v-if="showAllFields && (formData.name === '' || formData.email === '' || (formData.phone === '' || formData.phone.length < 14) || formData.password === '')"
                                        class="btn btn-terciary me-2" disabled>Próximo</button>
                                    <button
                                        v-else-if="!showAllFields && (formData.email === '' || formData.password === '')"
                                        class="btn btn-primary me-2" disabled>Inscreva-se</button>
                                    <button v-else-if="showAllFields" class="btn btn-primary me-2"
                                        data-bs-target="#exampleModalToggle2"
                                        data-bs-toggle="modal">Próximo</button>
                                    <button v-else class="btn btn-primary me-2"
                                        @click="formLogin">Inscreva-se</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                </nav>
            </header>
            <section class="first-section divider">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-md-6">
                            <img class="main-image" src="./assets/main/Tasty-shorts-br.png"
                                alt="imagem com descritivo tasty shorts BR"></div>
                        <div class="col-md-6">
                            <h1 class="youtube-sans-bold text-uppercase font-large line-height">Onde os sabores <br> encontram criadores</h1>
                            <h5 class="youtube-sans-bold my-3 font-medium">Um programa exclusivo para quem ama comer <br> bem, gravar e compartilhar.</h5>
                            <p class="text-roboto-thin font-small">Se você é creator da Grande São Paulo, essa é sua chance de <br> transformar suas experiências
                                gastronômicas em Shorts com <br> impacto, visibilidade e premiação.</p>
                            <button class="btn btn-primary">QUERO PARTICIPAR</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="second-section p-intern">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-md-6">
                            <h1 class="text-light font-medium youtube-sans-bold"><span class="font-small text-roboto-medium">O que é o</span><br>TASTY SHORTS BR?</h1>
                            <p class="text-light text-roboto-thin font-small mt-3">Uma jornada 100% gratuita, com 6 semanas de duração, criada para formar e destacar
                                criadores locais através de conteúdos sobre os melhores restaurantes de São Paulo e
                                Grande São Paulo.</p>
                            <p class="text-light text-roboto-thin font-small">Você vai aprender com embaixadores referência, participar de desafios valendo prêmios e
                                publicar Shorts com potencial real de crescimento — tudo isso com apoio do YouTube
                                Brasil.</p>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="./assets/main/image-01.png" alt="imagem de um prato de comida">
                        </div>
                    </div>
                </div>
            </section>
            <section class="third-section p-intern">
                <div class="container">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <div>
                                <h1 class="youtube-sans-bold font-medium">COMO FUNCIONA?</h1>
                                <p class="text-roboto-thin font-small">Durante o programa, você terá acesso a:</p>
                            </div>
                            <div>
                                <img src="./assets/main/image-02.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="card-third-section text-center">
                                <img src="assets/how_it_works/1.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium">4 aulas online e práticas</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced">com creators especialistas</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-third-section text-center">
                                <img src="assets/how_it_works/2.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium">4 missões temáticas</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced">uma a cada 2 semanas</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-third-section text-center">
                                <img src="assets/how_it_works/3.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium">Plataforma com ranking</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced">dicas, regras e acompanhamento</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-third-section text-center">
                                <img src="assets/how_it_works/4.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium">Certificado oficial</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced">Do YouTube + Creators Platform</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-third-section text-center">
                                <img src="assets/how_it_works/5.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium">Vouchers de consumo</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced">para gravação dos seus vídeos</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-third-section text-center">
                                <img src="assets/how_it_works/6.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium">Treinamento de monetização</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced">No Shorts com time do YouTube</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="fourth-section p-intern">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="youtube-sans-bold font-medium text-light">EMBAIXADORES E PROFESSORES</h1>
                            <p class="text-roboto-thin font-small text-light">Você vai aprender com quem realmente entende do assunto:</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="carousel"
                            data-flickity='{ "autoPlay": 1500, "wrapAround": true, "prevNextButtons": false }'>
                            <div><img class="m-2" src="./assets/bachelors/1.png" alt=""></div>
                            <div><img class="m-2" src="./assets/bachelors/2.png" alt=""></div>
                            <div><img class="m-2" src="./assets/bachelors/3.png" alt=""></div>
                            <div><img class="m-2" src="./assets/bachelors/4.png" alt=""></div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-roboto-thin font-small text-light">Eles vão te guiar com aulas práticas, conteúdos exclusivos e desafios que elevam o nível do
                            seu conteúdo.</p>
                    </div>
                </div>
            </section>
            <section class="fifth-section p-intern">
                <div class="container">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <div>
                                <h1 class="youtube-sans-bold font-medium text-uppercase">O que você ganha com isso?</h1>
                            </div>
                            <div>
                                <img src="./assets/main/image-03.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="card-fifth-section text-center">
                                <img src="assets/what_earn/1.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium mt-3">Certificado oficial</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced">com creators especialistas</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-fifth-section text-center">
                                <img src="assets/what_earn/2.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium mt-3">Visibilidade real</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced">uma a cada 2 semanas</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-fifth-section text-center">
                                <img src="assets/what_earn/3.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium mt-3">Vouchers de consumo</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced">dicas, regras e acompanhamento</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-fifth-section text-center">
                                <img src="assets/what_earn/4.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium mt-3">Acesso a eventos</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced">Do YouTube + Creators Platform</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-fifth-section text-center">
                                <img src="assets/what_earn/5.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium mt-3">Kit exclusivo</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced">para gravação dos seus vídeos</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-fifth-section text-center">
                                <img src="assets/what_earn/6.png" alt="Ícone" class="icon-img">
                                <h5 class="text-roboto-medium mt-3">Prêmios em dinheiro</h5>
                                <p class="text-roboto-thin font-extra-small line-height-forced"><b class="text-roboto-medium">Top 3</b>: USD $1.000, <b class="text-roboto-medium">Top 10</b>: USD $200</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sixth-section p-intern">
                <div class="container">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <div>
                                <h1>QUEM PODE PARTICIPAR?</h1>
                                <p>Criadores que:</p>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/1.png" alt="Ícone" class="icon-img">
                                <h5><strong>Certificado oficial</strong></h5>
                                <p>com creators especialistas</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/2.png" alt="Ícone" class="icon-img">
                                <h5><strong>Visibilidade real</strong></h5>
                                <p>uma a cada 2 semanas</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/3.png" alt="Ícone" class="icon-img">
                                <h5><strong>Vouchers de consumo</strong></h5>
                                <p>dicas, regras e acompanhamento</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/4.png" alt="Ícone" class="icon-img">
                                <h5><strong>Acesso a eventos</strong></h5>
                                <p>Do YouTube + Creators Platform</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/5.png" alt="Ícone" class="icon-img">
                                <h5><strong>Kit exclusivo</strong></h5>
                                <p>para gravação dos seus vídeos</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/6.png" alt="Ícone" class="icon-img">
                                <h5><strong>Prêmios em dinheiro</strong></h5>
                                <p>No Shorts com time do YouTube</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/7.png" alt="Ícone" class="icon-img">
                                <h5><strong>Kit exclusivo</strong></h5>
                                <p>para gravação dos seus vídeos</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/8.png" alt="Ícone" class="icon-img">
                                <h5><strong>Prêmios em dinheiro</strong></h5>
                                <p>No Shorts com time do YouTube</p>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center">
                            <img class="w-auto" src="assets/main/image-04.png" alt="Ícone" class="icon-img">
                        </div>
                    </div>
                </div>
            </section>
            <section class="seventh-section p-intern">
                <div class="container">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <div>
                                <h1>CRONOGRAMA RESUMIDO</h1>
                            </div>
                            <div>
                                <img src="./assets/main/image-05.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mt-4">
                        <div class="col-md-3">
                            <div class="card-seventh-section text-center">
                                <img src="assets/crono/1.png" alt="Ícone" class="icon-img">
                                <h5><strong>Inscrições abertas</strong></h5>
                                <p>até 30 de Agosto de 2025</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-seventh-section text-center">
                                <img src="assets/crono/2.png" alt="Ícone" class="icon-img">
                                <h5><strong>Início de setembro</strong></h5>
                                <p>Onboarding e primeiras aulas</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-seventh-section text-center">
                                <img src="assets/crono/3.png" alt="Ícone" class="icon-img">
                                <h5><strong>Setembro e outubro</strong></h5>
                                <p>3 desafios com prêmios</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-seventh-section text-center">
                                <img src="assets/crono/4.png" alt="Ícone" class="icon-img">
                                <h5><strong>Final de outubro</strong></h5>
                                <p>seleção e vencedores</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="eighth-section p-intern">
                <div class="container">
                    <h1>FAQ</h1>
                    <p>Perguntas frequentes</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div v-for="(item, index) in accordionItems" :key="index" class="accordion-item">
                                <div @click="toggleAccordion(index)" class="accordion-header">
                                    {{ item.title }}
                                    <span :class="{ 'rotate-arrow': activeIndex === index }">&#9660;</span>
                                </div>
                                <div v-if="activeIndex === index" class="accordion-content" v-html="item.content"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="nineth-section p-intern">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <h1>TÁ DENTRO?</h1>
                            <p><b>Inscreva-se agora e faça parte do Tasty Shorts BR</b></p>
                            <p>Se você quer transformar seus vídeos em visibilidade, prêmios e oportunidades com o YouTube, essa é a sua chance.</p>
                            <button class="btn btn-primary">QUERO PARTICIPAR</button>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <img src="./assets/main/image-06.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <footer class="p-intern">
                <div class="container">
                    <div class="row">
                        <div class=" d-flex align-items-center justify-content-between">
                        <div>
                            <img src="assets/main/image-07.png" alt="Logo">
                            <div class="d-flex gap-3">
                                <a href="#">Como funciona</a>
                                <a href="#">Como funciona</a>
                                <a href="#">Como funciona</a>
                                <a href="#">Como funciona</a>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src="./assets/main/logo.png" alt="">
                            </div>
                            <div>
                                <a href="">Fale conosco | hello@creators.llc</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>

<script src="./all.js"></script>