<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://creators.llc/druidhub">
    <meta property="og:title" content="Youtube">
    <meta property="og:image" content="https://creators.llc/TastyShortsBR/assets/main/Tasty-shorts-br.png">
    <meta property="og:description" content="Inscreva-se a faça parte desta comunidade">
    <meta property="og:type" content="website">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://creators.llc/favicon.png">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <title>Youtube</title>
</head>

<body>
    <div id="app">
        <div class="bg-youtube">
            <header>
                <nav :style="navStyle" :class="{ scrolled: scrolled }" class="navbar navbar-expand-lg menu">
                    <div class="container d-flex justify-content-between">
                        <img class="logo logo-mobile-sm" src="./assets/main/youTube+creator-logo.png"
                            alt="creators logo">
                        <button class="navbar-toggler" type="button" :class="{ active: isMenuOpen }" @click="toggleMenu"
                            data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <div class="navbar-toggler-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>

                        <div class="collapse navbar-collapse mt-3" id="navbarMenu">
                            <ul class="navbar-nav w-100 d-flex justify-content-between flex-nowrap align-items-center">
                                <li><a class="navbar-brand" href="https://creators.llc/" target="_blank">
                                        <img class="logo" src="./assets/main/youTube+creator-logo.png"
                                            alt="creators logo">
                                    </a></li>
                                <li class="nav-item">
                                    <a class="nav-link youtube-sans-semibold" href="#como-funciona">Como Funciona?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link youtube-sans-semibold" href="#participar">Como participar?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link youtube-sans-semibold" href="#embaixadores">Embaixadores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link youtube-sans-semibold" href="#premiacao">Premiação</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link youtube-sans-semibold" href="#faq">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModalToggle">QUERO PARTICIPAR</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="modal fade" data-bs-backdrop="false" id="exampleModalToggle" aria-hidden="true"
                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel"><img
                                            src="assets/main/youTube+creator-logo.png" alt=""></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div v-if="isLoading" class="text-center">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="visually-hidden">Carregando...</span>
                                        </div>
                                        <p class="mt-2">Aguarde enquanto processamos sua inscrição...</p>
                                    </div>
                                    <div v-if="error" class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    <div v-if="success" class="alert alert-success" role="alert">
                                        {{ success }}
                                    </div>
                                    <form v-else>
                                        <p v-if="showAllFields"><strong>Faça o cadastro para se inscrever</strong></p>
                                        <p v-else-if="!showAllFields">Para realizar a troca de senha, informe seu e-mail
                                            abaixo:</p>
                                        <div v-if="showAllFields" class="form-floating mb-2">
                                            <input type="text" class="form-control" id="floatingName" placeholder="Nome"
                                                v-model="formData.name">
                                            <label for="floatingName">Nome</label>
                                        </div>
                                        <div class="form-floating mb-2">
                                            <input type="email" class="form-control" id="floatingInput"
                                                placeholder="name@example.com" v-model="formData.email">
                                            <label for="floatingInput">E-mail</label>
                                        </div>
                                        <div v-if="showAllFields" class="form-floating mb-2">
                                            <input type="tel" class="form-control" id="floatingPhone"
                                                v-model="formData.phone" @input="formatTelefone" value="Telefone">
                                            <label for="floatingPhone">Telefone com DDD (xx)xxxxx-xxxx</label>
                                        </div>
                                        <div v-if="showAllFields" class="form-floating mb-2">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="Password" v-model="formData.password"
                                                @input="checkPasswordStrength">
                                            <label for="floatingPassword">Senha</label>
                                            <div v-if="passwordStrength && showAllFields"
                                                :class="{'text-success': passwordStrength === 'Forte', 'text-warning': passwordStrength === 'Média', 'text-danger': passwordStrength === 'Fraca'}">
                                            </div>
                                        </div>
                                    </form>

                                </div>

                                <div class="modal-footer" v-if="!success">
                                    <div>
                                        <button v-if="showAllFields"
                                            class="btn btn-primary me-2 d-flex align-items-center"
                                            @click="toggleFieldsVisibility">Já faço parte da Creators.llc <span><img
                                                    class="btn-image ms-1"
                                                    src="https://storage.googleapis.com/creators-static-1/images/logo-sm.svg"
                                                    alt=""></span></button>
                                        <button v-else-if="!showAllFields" class="btn btn-secondary me-2"
                                            @click="toggleFieldsVisibility">Voltar ao cadastro</button>
                                        <button v-if="!showAllFields" class="btn btn-primary me-2"
                                            @click="formForgot">Enviar um link de troca de senha</button>
                                    </div>
                                    <div>
                                        <button
                                            v-if="showAllFields && (formData.name === '' || formData.email === '' || (formData.phone === '' || formData.phone.length < 14) || formData.password === '')"
                                            class="btn btn-secondary me-2" disabled>Avançar</button>
                                        <button v-else-if="showAllFields" class="btn btn-secondary me-2"
                                            data-bs-target="#exampleModalToggle2"
                                            data-bs-toggle="modal">Avançar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" data-bs-backdrop="false" id="exampleModalToggle2" aria-hidden="true"
                        aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2"><img
                                            src="assets/main/youTube+creator-logo.png" alt="">
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div v-if="isLoading" class="text-center">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="visually-hidden">Carregando...</span>
                                        </div>
                                        <p class="mt-2">Aguarde enquanto processamos sua inscrição...</p>
                                    </div>
                                    <div v-if="error" class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    <div v-if="success" class="alert alert-success" role="alert">
                                        {{ success }}
                                    </div>
                                    <form v-else>
                                        <div class="container">
                                            <span class="mb-2">Selecione as verticais do seu conteúdo</span>
                                            <div class="row border mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-check custom-checkbox" v-for="v in vertical.slice(0, 9)"
                                                        :key="v.id">
                                                        <input type="checkbox" class="form-check-input"
                                                            :id="'checkbox-' + v.name" :value="v.id"
                                                            v-model="formData.specialities"
                                                            @change="updateSelectedCount" />
                                                        <label class="form-check-label" :for="'checkbox-' + v.name">{{
                                                            v.name }}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-check custom-checkbox" v-for="v in vertical.slice(9)" :key="v.id">
                                                        <input type="checkbox" class="form-check-input"
                                                            :id="'checkbox-' + v.name" :value="v.id"
                                                            v-model="formData.specialities"
                                                            @change="updateSelectedCount" />
                                                        <label class="form-check-label" :for="'checkbox-' + v.name">{{
                                                            v.name }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="my-4" v-for="(item, index) in formData.validacaoRedes"
                                                :key="index">
                                                <label class="font-label">Adicionar o username da sua rede com mais seguidores</label>
                                                <div class="form-floating mb-2">
                                                        <select v-model="item.socialMedia"
                                                            class="form-select form-select-sm"
                                                            aria-label=".form-select-sm example">
                                                            <option value="" disabled selected>Escolha sua rede</option>
                                                            <option value="instagram">Instagram</option>
                                                            <option value="tiktok">TikTok</option>
                                                            <option value="youtube">Youtube</option>
                                                        </select>
                                                    </div>
                                                    <div v-if="item.socialMedia !== ''">
                                                        <label class="font-label"
                                                            :for="'socialMediaInput' + index">Incluir apenas o username:</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="form-control link">{{
                                                                    getBaseLink(item.socialMedia)
                                                                    }}</span>
                                                            </div>
                                                            <input v-model="item.link" type="text"
                                                                :id="'socialMediaInput' + index"
                                                                class="form-control link">
                                                        </div>
                                                    </div>
                                                    <button @click="removeSocialMedia(index)"
                                                        v-if="formData.validacaoRedes.length > 2">Remover</button>
                                                </div>

                                                <span class="span-list" @click="addSocialMedia"
                                                    v-if="formData.validacaoRedes.length < 2">Adicionar rede social +
                                                </span>
                                                <span class="span-list" @click="removeSocialMedia"
                                                    v-if="formData.validacaoRedes.length == 2">Remover rede social -
                                                </span>
                                            </div>

                                            <div class="custom-checkbox mb-4">
                                                <div class="custom-checkbox mb-4">
                                                    <input type="checkbox" class="mt-4" checked> Li e concordo com os <span
                                                        class="span-lista"> <a href="https://creators.llc/termos/"
                                                            target="_blank">Termos de
                                                            uso</a></span>
                                                </div>
                                                <input type="checkbox" class="mt-2" checked> Ao marcar esta caixa de seleção, você declara que (i)  possui pelo menos 18 anos de idade ou é considerado maior de idade em seu país de residência e (ii) concorda em participar do Programa Tasty Shorts do YouTube. Entendo que o YouTube poderá me contatar para oportunidades e atualizações de produtos ou políticas através de e-mail, número de telefone e outras redes sociais. Compreendo também que minhas informações serão utilizadas de acordo com a Política de Privacidade do Google e da Creators Platform LLC.<span
                                                    class="span-lista">
                                            </div>
                                    </form>
                                </div>
                                <div class="modal-footer" v-if="!success">
                                    <button class="btn btn-primary" @click="toggleReturn"
                                        data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Voltar</button>
                                    <button class="btn btn-secondary" @click="formCreateUser">Cadastrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <section class="first-section divider">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-md-6" data-aos="fade-down-right">
                            <img class="main-image" src="./assets/main/Tasty-shorts-br.png"
                                alt="imagem com descritivo tasty shorts BR">
                        </div>
                        <div class="col-md-6" data-aos="fade-down-left">
                            <h1 class="youtube-sans-extrabold text-uppercase font-large line-height">Onde os sabores
                                <br>
                                encontram criadores
                            </h1>
                            <h5 class="youtube-sans-bold my-3 font-medium">Um programa exclusivo para quem ama comer
                                bem, gravar e compartilhar.
                            </h5>
                            <p class="youtube-sans-regular font-small">Se você é creator da Grande São Paulo, essa é sua
                                chance de <br> transformar suas experiências
                                gastronômicas em Shorts com <br> impacto, visibilidade e premiação.</p>
                            <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModalToggle">QUERO PARTICIPAR</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="second-section p-intern">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-md-6" data-aos="fade-down-left">
                            <h1 class="text-light font-medium youtube-sans-bold"><span
                                    class="font-small youtube-sans-regular">O que é o</span><br class="show">TASTY SHORTS BR?</h1>
                            <p class="text-light youtube-sans-regular font-small mt-3">Uma jornada 100% gratuita, com 8
                                semanas de duração, criada para formar e destacar
                                criadores locais através de conteúdos sobre os melhores restaurantes de São Paulo e
                                Grande São Paulo.</p>
                            <p class="text-light youtube-sans-regular font-small">Você vai aprender com embaixadores
                                referência, participar de desafios valendo prêmios e
                                publicar Shorts com potencial real de crescimento — tudo isso com apoio do YouTube
                                Brasil.</p>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center align-items-center"
                            data-aos="fade-down-right">
                            <img class="img-fluid" src="./assets/main/image-01.png" alt="imagem de um prato de comida">
                        </div>
                    </div>
                </div>
            </section>
            <section id="como-funciona" class="third-section p-intern">
                <div class="container">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <div data-aos="fade-down-right">
                                <h1 class="youtube-sans-extrabold font-medium">COMO FUNCIONA?</h1>
                                <p class="youtube-sans-regular font-small">Durante o programa, você terá acesso a:</p>
                            </div>
                            <div data-aos="fade-down-left">
                                <img class="show-image" src="./assets/main/image-02.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-third-section text-center">
                                <img src="assets/how_it_works/1.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold">Treinamento</h5>
                                <p class="youtube-sans-regular font-extra-small line-height-forced">online com prática</p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-third-section text-center">
                                <img src="assets/how_it_works/2.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold">Comunidade</h5>
                                <p class="youtube-sans-regular font-extra-small line-height-forced">
                                    Comunidade de criadores
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-third-section text-center">
                                <img src="assets/how_it_works/3.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold">Certificado</h5>
                                <p class="youtube-sans-regular font-extra-small line-height-forced">de conclusão</p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-third-section text-center">
                                <img src="assets/how_it_works/4.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold">Embaixadores</h5>
                                <p class="youtube-sans-regular font-extra-small line-height-forced">Experts como professores</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="embaixadores" class="fourth-section p-intern">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="youtube-sans-extrabold font-medium text-light">EMBAIXADORES E PROFESSORES</h1>
                            <p class="youtube-sans-regular font-small text-light">Você vai aprender com quem realmente
                                entende do assunto:</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="carousel"
                            data-flickity='{ "autoPlay": 1500, "wrapAround": true, "prevNextButtons": false }'>
                            <div><img class="m-2" src="./assets/bachelors/1.png" alt="embaixador foto">
                                <div class="info-tutor">
                                    <h3 class="youtube-sans-bold text-light font-small">Bia & Clara</h3>
                                    <p class="youtube-sans-regular text-light font-extra-small">Somando mais de 7
                                        milhões de <br> seguidores nas redes, Bia e Clara <br> divertem seus seguidores
                                        com <br> conteúdo de gastronomia, viagens e <br> vida em família regado a muito
                                        <br> humor e entretenimento.
                                    </p>
                                </div>
                            </div>
                            <div><img class="m-2" src="./assets/bachelors/2.png" alt="embaixador foto">
                                <div class="info-tutor">
                                    <h3 class="youtube-sans-bold text-light font-small">Thiago Quatroque</h3>
                                    <p class="youtube-sans-regular text-light font-extra-small">Thiago compartilha
                                        receitas, reviews e <br> experiências gastronômicas com <br> estilo
                                        descontraído, conquistando <br> mais de 1,5 milhão de seguidores <br> engajados.
                                    </p>
                                </div>
                            </div>
                            <div><img class="m-2" src="./assets/bachelors/3.png" alt="embaixador foto">
                                <div class="info-tutor">
                                    <h3 class="youtube-sans-bold text-light font-small">Bia & Rafa</h3>
                                    <p class="youtube-sans-regular text-light font-extra-small">Bia e Rafa exploram
                                        sabores pelo<br> Brasil e pelo mundo, criando <br> conteúdos autênticos de <br>
                                        gastronomia, viagens e cultura que já <br> renderam milhões de visualizações.
                                    </p>
                                </div>
                            </div>
                            <div><img class="m-2" src="./assets/bachelors/4.png" alt="embaixador foto">
                                <div class="info-tutor">
                                    <h3 class="youtube-sans-bold text-light font-small">Júlio Nascimento</h3>
                                    <p class="youtube-sans-regular text-light font-extra-small">Julio Nascimento,
                                        criador do bordão<br> ‘FOOOMEEE!’, diverte sua comunidade <br>fiel com desafios
                                        e reviews <br>gastronômicos cheios de humor e <br>entretenimento.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="youtube-sans-regular font-small text-light">Eles vão te guiar com aulas práticas,
                            conteúdos exclusivos e desafios que elevam o nível do
                            seu conteúdo.</p>
                    </div>
                </div>
            </section>
            <section id="premiacao" class="fifth-section p-intern">
                <div class="container">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <div data-aos="fade-down-right">
                                <h1 class="youtube-sans-extrabold font-medium text-uppercase">O que você ganha com isso?
                                </h1>
                            </div>
                            <div data-aos="fade-down-left">
                                <img class="show-image" src="./assets/main/image-03.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-fifth-section text-center">
                                <img src="assets/what_earn/1.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold mt-3">Certificado</h5>
                                <p class="youtube-sans-regular font-extra-small line-height-forced">Oficial do YouTube
                                    Brasil</p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-fifth-section text-center">
                                <img src="assets/what_earn/2.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold mt-3">Acesso</h5>
                                <p class="youtube-sans-regular font-extra-small line-height-forced">Comunidade e Eventos
                                    Exclusivos</p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-fifth-section text-center">
                                <img src="assets/what_earn/3.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold mt-3">Gifts YouTube</h5>
                                <p class="youtube-sans-regular  font-extra-small line-height-forced">exclusivos</p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-fifth-section text-center">
                                <img src="assets/what_earn/4.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold mt-3">Prêmios</h5>
                                <p class="youtube-sans-regular font-extra-small line-height-forced">em dinheiro</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="participar" class="sixth-section p-intern">
                <div class="container">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <div data-aos="fade-down-right">
                                <h1 class="youtube-sans-extrabold font-medium text-uppercase">Quem pode participar?</h1>
                                <p class="youtube-sans-regular font-extra-small font-small font-tablet">Criadores que:
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 participants-grid">
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/1.png" alt="Ícone" class="icon-img">
                                <p class="youtube-sans-bold font-small font-tablet mt-3 text-light"><b>Ter mais de 18
                                        anos</b> <br class="show"><span class="youtube-sans-regular font-extra-small">no
                                        momento da inscrição</span></p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/2.png" alt="Ícone" class="icon-img">
                                <p class="youtube-sans-bold font-small font-tablet mt-3 text-light"><b>Morar em São
                                        Paulo</b><br class="show"><span class="youtube-sans-regular font-extra-small">ou
                                        na região metropolitana</span>
                                    </b>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/3.png" alt="Ícone" class="icon-img">
                                <p class="youtube-sans-bold font-small font-tablet mt-3 text-light"><b>Ter no mínimo
                                        5.000</b><br class="show"><span
                                        class="youtube-sans-regular font-extra-small">seguidores nas redes
                                        sociais</span></p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/4.png" alt="Ícone" class="icon-img">
                                <p class="youtube-sans-bold font-small font-tablet mt-3 text-light"><b>Interesse
                                        em</b><br class="show"><span
                                        class="youtube-sans-regular font-extra-small">gastronomia, cultura,
                                        lifestyle</span></p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/5.png" alt="Ícone" class="icon-img">
                                <p class="youtube-sans-bold font-small font-tablet mt-3 text-light"><b>Queremos
                                        diversidade</b><br class="show"><span
                                        class="youtube-sans-regular font-extra-small">perfis de rolê, opinião,
                                        vlog</span></p>
                            </div>
                        </div>
                        <!-- <div class="col-md-3" data-aos="flip-right">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/6.png" alt="Ícone" class="icon-img">
                                <p class="youtube-sans-bold font-small font-tablet mt-3 text-light"><b>Shorts
                                        elegíveis</b><br class="show"><span
                                        class="youtube-sans-regular font-extra-small">dentro das regras do
                                        YouTube</span></p>
                            </div>
                        </div> -->
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/7.png" alt="Ícone" class="icon-img">
                                <p class="youtube-sans-bold font-small font-tablet mt-3 text-light"><b>Criadores ativos
                                    </b><br class="show"><span class="youtube-sans-regular font-extra-small">nos últimos
                                        30 dias</span></p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/8.png" alt="Ícone" class="icon-img">
                                <p class="youtube-sans-bold font-small font-tablet mt-3 text-light"><b>Não ter strike
                                        ativo </b><br class="show"><span
                                        class="youtube-sans-regular font-extra-small">na plataforma do YouTube</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-sixth-section text-center">
                                <img src="assets/participants/6.png" alt="Ícone" class="icon-img">
                                <p class="youtube-sans-bold font-small font-tablet mt-3 text-light"><b>Ter canal do Youtube</b><br class="show"><span
                                        class="youtube-sans-regular font-extra-small">Pode ser um recém criado
                                    </span>
                                </p>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 d-flex justify-content-center" data-aos="flip-right">
                            <img src="assets/main/image-04.png" alt="Ícone" class="icon-img w-auto">
                        </div> -->
                    </div>
                </div>
            </section>
            <section class="seventh-section p-intern">
                <div class="container">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <div data-aos="fade-down-right">
                                <h1 class="youtube-sans-extrabold font-medium text-uppercase">cronograma resumido</h1>
                            </div>
                            <div data-aos="fade-down-left">
                                <img class="show-image" src="./assets/main/image-05.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mt-4">
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-seventh-section text-center">
                                <img src="assets/crono/1.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold mt-3">Inscrições abertas</h5>
                                <p class="youtube-sans-regular font-extra-small line-height-forced">até 31 de Agosto de
                                    2025
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-seventh-section text-center">
                                <img src="assets/crono/2.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold mt-3">Início de setembro</h5>
                                <p class="youtube-sans-regular font-extra-small line-height-forced">Onboarding e
                                    primeiras
                                    aulas</p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-seventh-section text-center">
                                <img src="assets/crono/3.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold mt-3">Setembro a Outubro</h5>
                                <p class="youtube-sans-regular font-extra-small line-height-forced">
                                    4 aulas e 4 desafios com prêmios
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3" data-aos="flip-right">
                            <div class="card-seventh-section text-center">
                                <img src="assets/crono/4.png" alt="Ícone" class="icon-img">
                                <h5 class="youtube-sans-bold mt-3">Final de Outubro</h5>
                                <p class="youtube-sans-regular font-extra-small line-height-forced">seleção e vencedores
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="faq" class="eighth-section p-intern">
                <div class="container">
                    <h1 data-aos="fade-down-right" class="font-medium youtube-sans-extrabold">FAQ</h1>
                    <p data-aos="fade-down-right" class="youtube-sans-regular font-small">Perguntas frequentes</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                                v-for="(item, index) in accordionItems" :key="index" class="accordion-item">
                                <div @click="toggleAccordion(index)" class="accordion-header">
                                    {{ item.title }}
                                    <span :class="{ 'rotate-arrow': activeIndex === index }">&#9660;</span>
                                </div>
                                <hr v-if="activeIndex === index">
                                <div v-if="activeIndex === index" v-html="item.content"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="nineth-section p-intern">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6" data-aos="fade-down-right">
                            <h1 class="font-medium youtube-sans-extrabold">TÁ DENTRO?</h1>
                            <p class="youtube-sans-regular font-small"><b>Faça Parte dessa Comunidade e faça parte do
                                    Tasty Shorts
                                    BR</b></p>
                            <p class="youtube-sans-regular">Se você quer transformar seus vídeos em visibilidade,
                                prêmios
                                e <br> oportunidades com o YouTube, essa é a sua chance.</p>
                            <button class="btn btn-primary modal-primary-button" data-bs-toggle="modal"
                                data-bs-target="#exampleModalToggle">QUERO PARTICIPAR</button>
                        </div>
                        <div data-aos="flip-right" class="col-md-6 d-flex align-items-center justify-content-center">
                            <img src="./assets/main/image-06.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <footer class="p-intern">
                <div class="container">
                    <div class="row">
                        <div class=" d-flex justify-content-between">
                            <div>
                                <img class="mb-4" src="assets/main/youTube+creator-logo.png" alt="Logo">
                                <div class="d-flex gap-3">
                                    <div>
                                        <a class="info-footer youtube-sans-semibold" href="#como-funciona">Como
                                            funciona</a>
                                    </div>
                                    <div>
                                        <a class="info-footer youtube-sans-semibold" href="#como-participar">Como
                                            participar</a>
                                    </div>
                                    <div>
                                        <a class="info-footer youtube-sans-semibold"
                                            href="#embaixadores">Embaixadores</a>
                                    </div>
                                    <div>
                                        <a class="info-footer youtube-sans-semibold" href="#premiacao">Premiação</a>
                                    </div>
                                    <div>
                                        <a class="info-footer youtube-sans-semibold"
                                            href="./assets/regulamento/reg.pdf"
                                            target="_blank">Regulamento</a>
                                    </div>
                                    <div>
                                        <a class="info-footer youtube-sans-semibold" href="#faq">FAQ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end">
                                <div>
                                    <img class="mb-2" style="width: 160px;" src="./assets/main/logo_powered.png"
                                        alt="logo_creators">
                                </div>
                                <div>
                                    <a class="youtube-sans-semibold" href="mailto:academy@creators.llc">Fale conosco |
                                        academy@creators.llc</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>

<script src="./all.js"></script>